#job_hire {
    padding-bottom: 40px;
}

@media (max-width: 1199px) {
    #job_hire {
        padding-bottom: 40px;
    }
}

@media (max-width: 991px) {
    #job_hire {
        padding-bottom: 40px;
    }
}

@media (max-width: 767px) {
    #job_hire {
        padding-bottom: 40px;
    }
}

.job_hire_text_col>h2 {
    font-weight: 600;
    font-size: 54px;
    padding-bottom: 20px;

}

@media (max-width: 767px) {
    .job_hire_text_col>h2 {
        font-size: 35px;

    }
}

@media (max-width: 479px) {
    .job_hire_text_col>h2 {
        font-size: 25px;
    }
}

.job_hire_text_col>p {
    font-size: 18px;
    margin-top: 35px;
    width: 600px;
    display: inline-block;
}

@media (max-width: 767px) {
    .job_hire_text_col>p {
        font-size: 17px;
        margin-top: 30px;
        width: 100%;
    }
}

@media (max-width: 479px) {
    .job_hire_text_col>p {
        font-size: 15px;
        margin-top: 20px;
    }
}

.will_join_col {
    width: 242px;
    height: 278px;
    background: #FBFBFB;
    border: 3px dashed #F4B41A;
    box-sizing: border-box;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.23);
    border-radius: 12px;
    padding-top: 40px;
}

@media (max-width: 1199px) {
    .will_join_col {
        width: 200px;
        height: 250px;
        padding-top: 21px;
    }

}

.members_number_svg,
.will_join_number_svg {
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (max-width: 479px) {

    .members_number_svg,
    .will_join_number_svg {
        padding-top: 5px;
        padding-bottom: 5px;
    }

}


@media (max-width: 479px) {

    .will_join_icon_svg>svg,
    .members_icon_svg>svg {
        width: 60px;
        width: 60px;
    }

}

@media (max-width: 479px) {

    .will_join_number_svg>svg,
    .members_number_svg>svg {
        width: 40px;
        width: 40px;

    }

}

.members_col {
    padding-top: 280px;
}

.members_col>p,
.will_join_col>p {
    font-size: 24px;
}

@media (max-width: 767px) {

    .will_join_col>p,
    .members_col>p {
        font-size: 22px;
    }

}

@media (max-width: 479px) {

    .members_col>p,
    .will_join_col>p {
        font-size: 20px;
    }

}

@media (max-width: 991px) {
    .give_txt_row {
        text-align: center;
    }
}


.give_txt_row>h5 {
    font-size: 22px;
}

@media (max-width: 767px) {
    .give_txt_row>h5 {
        font-size: 20px;
    }
}

@media (max-width: 479px) {
    .give_txt_row>h5 {
        font-size: 18px;
    }
}


.give_txt_row>p {
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
}


@media (max-width: 479px) {
    .give_txt_row>p {
        font-size: 16px;
    }
}


.hire_row {
    padding-top: 70px;
}

@media (max-width: 767px) {
    .hire_row {
        padding-top: 50px;
    }

}

@media (max-width: 479px) {
    .hire_row {
        padding-top: 30px;
    }

}

@media (max-width: 991px) {
    .hire_icons_col {
        max-width: 400px;
        width: 100%;
        margin: 0 auto 30px;
    }

}

.offer_col {
    margin-left: 90px;
}

@media (max-width: 1439px) {
    .offer_col {
        margin-left: 80px;
    }
}

@media (max-width: 1200px) {
    .offer_col {
        margin-left: 30px;
    }
}

@media (max-width: 991px) {
    .offer_col {
        margin: 0 auto;
    }
}

.single_offer_txt_col>span {
    font-size: 18px;
}

@media (max-width: 479px) {
    .single_offer_txt_col>span {
        font-size: 16px;
    }
}


@media (max-width: 1439px) {
    [lang="en"] .single_offer_txt_col_1:nth-child(1)>span {
        width: 170px;
    }

}

@media (max-width: 1200px) {
    [lang="en"] .single_offer_txt_col_1:nth-child(1)>span {
        width: 100%;
    }
}

.single_offer_txt_col>img {
    margin-right: 15px;
    margin-bottom: 25px;

}

.single_offer_txt_col {
    margin-bottom: 20px;
    position: relative;
}

[lang="ru"] .single_offer_txt_col {
    width: 290px;
}

@media (max-width: 1200px) {
    [lang="ru"] .single_offer_txt_col {
        width: 100%;
    }
}

.single_offer_txt_col>img {
    position: absolute;
    top: 3px;
}

.single_offer_txt_col>span {
    margin-left: 40px;
    line-height: 160%;
}

.offer_container>h5 {
    font-size: 18px;
    font-weight: bold;
}


@media (max-width: 991px) {
    .offer_container>h5 {
        text-align: center;
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    .give_txt_row>h5 {
        font-size: 20px;
    }
}

@media (max-width: 479px) {
    .give_txt_row>h5 {
        font-size: 18px;
    }
}

.offer_txt_row {
    padding-top: 20px;
}

.project {
    position: absolute;
    width: 405px;
    height: 100px;
    left: 757px;
    top: 208px;
    font-weight: 600;
    font-size: 54px;
}

.project-management {
    /*background-image: url('images/settings.png');*/
    background-repeat: no-repeat;
}

.rectangle {
    width: 370px;
    height: 223px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    background-image: url('images/rectangle.png');
    background-repeat: no-repeat;
    background-size: auto;
}

.project-overview {
    width: 100%;
    height: auto;
    left: 960px;
    top: 503px;

    background: #FFFFFF;
    border: 3px dashed #F4B41A;
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.project-overview-title {
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 0px;
    padding-left: 40px;
    font-weight: 600;
    font-size: 40px;
    line-height: 130%;
    /* identical to box height, or 52px */
    display: flex;
    align-items: center;
    color: #143E59;
}

.project-overview-description {
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    /* or 29px */

    color: #0D171D;
}

.img-entry {
    position: relative;
    top: 30px;
    left: 40px;
    width: 88%;
    height: 185px;
}

.custom-btn a {
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 6px;
    border: 1px solid #143E5A;
    font-size: 18px;
    padding: 22px 70px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    font-weight: 700;
    background: #143E59;
    border: 2px solid #143E59;
    box-sizing: border-box;
    border-radius: 6px;
}

/******************** new style 8 june *********************/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

/* font color */
.color143E59 {
    color: #143E59;
}

.font-24 {
    font-size: 24px;
}

.font-16 {
    font-size: 16px;
}

.font-18 {
    font-size: 18px;
}

.color6F6F6F {
    color: #6F6F6F;
}

.color0D171D {
    color: #0D171D;
}

.blue {
    color: #4081FF;
}

.semibold {
    font-weight: 600;
}

.line-height-30 {
    line-height: 29px;
}

.main_title_all_page {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    color: #143E59;
}

.main_box_bottom_content {
    background: #FFFFFF;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.102);
    border-radius: 0px 0px 12px 12px;
    padding: 32px 65px 25px 30px;
}

.date_text {
    font-weight: 600;
    font-size: 16px;
    color: #6F6F6F;
}

.main_box_content_text {
    font-size: 18px;
    color: #0D171D;
    padding-top: 10px;
    line-height: 37px;
}

.most_view_title {
    color: #143E59;
    font-size: 35px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}

.most_view_box {
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    padding: 40px 30px 14px 30px;
}

.by_name_text {
    color: #0D171D;
    font-weight: 600;
    padding-top: 10px;
    font-size: 17px;
}

.by_name_text span {
    color: #4081FF;
}

.all_box_1 {
    background: #FFFFFF;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.102);
    border-radius: 18px 18px 12px 12px;
    margin: 0 8px;
    height: 100%;
}

.all_box_1 .all_box_bottom_content {
    padding: 30px 30px 35px 30px;
}

.all_section_title .all_title1 {
    font-size: 36px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 30px;
}

.all_box_1 {
    transition: all .4s ease 0s;
    -webkit-transition: all .4s ease 0s;
    -moz-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    margin-top: -10px;
}

.all_box_1:hover {
    background-color: #CCEBFF;
}

/* .all_box_top_image{position: relative;height: 256px;width: 100%;}
.all_box_top_image img{position:absolute;top: 0px;left: 0px;width: 100%;height: 100%;object-fit: cover;} */

.view_more_btn {
    border: 1px solid #143E59;
    border-radius: 6px;
    width: 211px;
    height: 56px;
    line-height: 52px;
    display: table;
    margin: 0 auto;
    transition: all .4s ease 0s;
    -webkit-transition: all .4s ease 0s;
    -moz-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
}

.view_more_btn:hover {
    text-decoration: unset;
    color: #fff;
    background-color: #143E5A;
}

.pt-45 {
    padding-top: 40px;
}

.pb-45 {
    padding-bottom: 45px;
}

a:hover {
    text-decoration: unset;
}

/* for responsive */
@media (max-width: 1439px) {
    .font-24 {
        font-size: 22px;
    }

    .main_title_all_page {
        font-size: 32px;
    }

    .most_view_title.mb-5 {
        margin-bottom: 1.5rem !important;
        ;
    }

    .by_name_text {
        padding-top: 3px;
        font-size: 15px;
    }

    .main_box_content_text {
        font-size: 16px;
        line-height: 30px;
    }

    .most_view_box {
        padding: 35px 30px 14px 30px;
    }

    .font-16 {
        font-size: 14px;
    }

    .font-18 {
        font-size: 16px;
    }

    .all_box_1 .all_box_bottom_content {
        padding: 30px 25px 35px 25px;
    }

    .job_hire_text_col>h2 {
        font-size: 40px;
    }

    .most_view_title {
        font-size: 28px;
    }

    .main_box_bottom_content {
        padding: 32px 30px 25px 30px;
    }

    .most_view_box {
        padding: 30px 25px 14px 25px;
    }
}

@media (max-width: 767px) {
    .main_box_bottom_content {
        padding: 32px 22px 25px 22px;
    }

    .main_title_all_page {
        font-size: 22px;
    }

    .date_text {
        font-size: 14px;
    }

    .main_box_content_text {
        font-size: 15px;
    }

    .right_side_content_education {
        padding-top: 40px;
    }

    .main_box_bottom_content,
    .right_side_content_education,
    .qa_basics {
        text-align: center;
    }

    .all_section_title .all_title1 {
        font-size: 30px;
    }

    .job_hire_text_col>h2 {
        font-size: 35px;
    }
}

.main_box_image img {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 100%;
    max-width: 100%;
    box-shadow: 0px 3px 10px rgb(0 0 0 / 10%);
}